<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Software Engineer | KMITL</title>
    <link rel="stylesheet" type="text/css" href="/static/news-detail.css">
    <link rel="icon" type="image/x-icon" href="/static/se.png">
    <script>
        function toggleMenu() {
            var navDrawer = document.getElementById("nav-links");
            var navOverlay = document.getElementById("nav-overlay");

            if (navDrawer && navOverlay) {
                if (navDrawer.style.left === "0px") {
                    navDrawer.style.left = "-250px";
                    navOverlay.style.display = "none";
                } else {
                    navDrawer.style.left = "0px"; 
                    navOverlay.style.display = "block";
                }
            } else {
                console.error('Element(s) not found!');
            }
        }
        window.addEventListener('resize', function () {
        if (window.innerWidth > 780) {
            var navLinks = document.getElementById("nav-links");
            var navOverlay = document.getElementById("nav-overlay");
            navLinks.style.left = "-250px";
            navOverlay.style.display = "none";
        }
    });
    </script>
</head>
<body>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'trans');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <div class="navbar">
        <a href="/" class="navbar-logo"><img src="/static/se.png" alt="Logo"></a>
        <div id="trans"></div>
        <button class="hamburger-menu" onclick="toggleMenu()">
            &#9776;
        </button>
        <div class="nav-links" id="nav-links">
            <a href="/news">News</a>
            <a href="/addmission1">Admission</a>

            <a href="/about">About</a>
            <a href="/curriculum">Curriculum</a>
            <a href="/reservepage">Reserve Co-Working Space</a>
            <a href="{{ '/logout' if is_logged_in else '/login' }}" class="login-button">{{ 'Logout' if is_logged_in else 'Login' }}</a>
        </div>
    </div>
    <div class="nav-overlay" id="nav-overlay" onclick="toggleMenu()"></div>
    <div class="news-detail-container">
        <h1>Visit from U. of Queensland</h1>
        <img src="/static/news3.png" alt="Visit from U. of Queensland" class="news-detail-image">
        <p class="news-date">Posted on: October 23, 2022</p>
        <p class="news-content">
            On 11 Oct 2022, our SE program was pleased to welcome representatives of Faculty of Engineering, Architecture and Information Technology, University of Queensland, Australia, including
            <ul>
                <li>Professor Aleksandar D. Rakić (Associate Dean, External Engagement)</li>
                <li>Ms Angela Li (International Engagement Manager)</li>
            </ul>
            and Ms Pattarin Wirojchoochut, Education Manager at Austrade Bangkok. Founded in 1909, the  <a href="https://www.uq.edu.au/">University of Queensland </a>(UQ) is a prestigious research university located in Brisbane, Queensland, Australia. UQ has consistently been ranked among the top 50 universities worldwide in the QS World University Ranking. UQ’s <a href="https://www.eait.uq.edu.au/">Faculty of Engineering, Architecture and Information Technology</a> has been at the forefront of scientific and technological research at the international level. Like KMITL, the Faculty focuses on finding solutions and developing innovations with real-world impact for the industry, the society, and the environment.
            The UQ representatives and the management team of the SE program, led by Assistant Professor Dr. Visit Hirankitti, discussed the possible collaborations between the Bachelor of Computer Science program at the University of Queensland and the SE program at KMITL. Both teams were pleased and excited with the prospect for our cooperation and will continue to work out the details of the collaborations. Stay tuned for further updates !
        </p>
        <a href="/news" class="back-button">Back to News</a>
    </div>
    <footer class="site-footer">
        <div class="footer-container">
            <div class="footer-logo">
                <img src="/static/kmitl.png" alt="KMITL Logo" />
            </div>
            <div class="footer-text">
                <p>© 2022 Software Engineering, King Mongkut's Institute of Technology Ladkrabang</p>
            </div>
            <div class="footer-social">
                <a href="https://www.facebook.com/profile.php?id=100066929134562" target="_blank" rel="noopener noreferrer">
                    <img src="/static/facebook.png" alt="Facebook" />
                </a>
                <a href="https://instagram.com/kmitl.esa.official?igshid=MzMyNGUyNmU2YQ==" target="_blank" rel="noopener noreferrer">
                    <img src="/static/instagram.png" alt="Instagram" />
                </a>
                <a href="https://line.me/ti/g2/yQ2E7xZwpzkG7lMCOfNQE1KKCT-S9yiAmGPXNw?utm_source=invitation&utm_medium=link_copy&utm_campaign=default" target="_blank" rel="noopener noreferrer">
                    <img src="/static/line.png" alt="Line" />
                </a>
            </div>
        </div>
    </footer>
</body>
</html>
