<!DOCTYPE html>
<html>

<head>
    <title>Software Engineer | KMITL</title>
    <link rel="stylesheet" type="text/css" href="/static/maincss.css">
    <link rel="icon" type="image/x-icon" href="/static/se.png">
    <script defer src="/static/script.js"></script>
    <script>
        function toggleMenu() {
        var navDrawer = document.getElementById("nav-links");
        var navOverlay = document.getElementById("nav-overlay");

        if (navDrawer && navOverlay) {
            if (navDrawer.style.left === "0px") {
                navDrawer.style.left = "-250px";
                navOverlay.style.display = "none";
            } else {
                navDrawer.style.left = "0px"; 
                navOverlay.style.display = "block";
            }
        } else {
            console.error('Element(s) not found!');
        }
    }
    window.addEventListener('resize', function () {
    if (window.innerWidth > 780) {
        var navLinks = document.getElementById("nav-links");
        var navOverlay = document.getElementById("nav-overlay");
        navLinks.style.left = "-250px";
        navOverlay.style.display = "none";
    }
    });
    </script>
</head>

<body>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'trans');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <div class="navbar">
        <a href="/" class="navbar-logo"><img src="/static/se.png" alt="Logo"></a>
        <div id="trans"></div>
        <button class="hamburger-menu" onclick="toggleMenu()">
            &#9776;
        </button>
        <div class="nav-links" id="nav-links">
            <a href="/news">News</a>
            <a href="/addmission1">Admission</a>

            <a href="/about">About</a>
            <a href="/curriculum">Curriculum</a>
            <a href="/reservepage">Reserve Co-Working Space</a>
            <a href="{{ '/logout' if is_logged_in else '/login' }}" class="login-button">{{ 'Logout' if is_logged_in else 'Login' }}</a>
        </div>
    </div>
    <div class="nav-overlay" id="nav-overlay" onclick="toggleMenu()"></div>
    <div class="mainbigdiv">
        <div class="maindiv">
            <h2 class="latest-news-title">Latest News</h2>
            <div class="body-container">
                <a href="/news-detail-1" class="bodydiv">
                    <img src="/static/news1.png" alt="news1" class="imginbodydiv">
                    <div class="inbodydiv">
                        <h3>Software Engineer Skill Mapping Workshop</h3>
                    </div>
                    <div class="findoutmore">
                        <p>Find out more -></p>
                    </div>
                </a>
                <a href="/news-detail-2" class="bodydiv">
                    <img src="/static/news2.png" alt="news2" class="imginbodydiv">
                    <div class="inbodydiv">
                        <h3>K-Engineering World Tour and Workshop 2022</h3>
                    </div>
                    <div class="findoutmore">
                        <p>Find out more -></p>
                    </div>
                </a>
                <a href="/news-detail-3" class="bodydiv">
                    <img src="/static/news3.png" alt="news3" class="imginbodydiv">
                    <div class="inbodydiv">
                        <h3>K-Engineering World Tour and Workshop 2022</h3>
                    </div>
                    <div class="findoutmore">
                        <p>Find out more -></p>
                    </div>
                </a>
                <a href="/news-detail-4" class="bodydiv">
                    <img src="/static/news4.png" alt="news3" class="imginbodydiv">
                    <div class="inbodydiv">
                        <h3>TALK: Introducing the KMITL - U. of Glasgow Double Degree Program</h3>
                    </div>
                    <div class="findoutmore">
                        <p>Find out more -></p>
                    </div>
                </a>
            </div>
            <div class="control goleft" onclick="moveLeft()">&#10094;</div>
            <div class="pagination"></div>
            <div class="control goright" onclick="moveRight()">&#10095;</div>
        </div>
        <div class="mainbigdiv"><div class="maindiv"><div class="body-container"><a></a></div></div></div>   
    </div>
    <footer class="site-footer">
        <div class="footer-container">
            <div class="footer-logo">
                <img src="/static/kmitl.png" alt="KMITL Logo" />
            </div>
            <div class="footer-text">
                <p>© 2022 Software Engineering, King Mongkut's Institute of Technology Ladkrabang</p>
            </div>
            <div class="footer-social">
                <a href="https://www.facebook.com/profile.php?id=100066929134562" target="_blank"
                    rel="noopener noreferrer">
                    <img src="/static/facebook.png" alt="Facebook" />
                </a>
                <a href="https://instagram.com/kmitl.esa.official?igshid=MzMyNGUyNmU2YQ==" target="_blank"
                    rel="noopener noreferrer">
                    <img src="/static/instagram.png" alt="Instagram" />
                </a>
                <a href="https://line.me/ti/g2/yQ2E7xZwpzkG7lMCOfNQE1KKCT-S9yiAmGPXNw?utm_source=invitation&utm_medium=link_copy&utm_campaign=default"
                    target="_blank" rel="noopener noreferrer">
                    <img src="/static/line.png" alt="Line" />
                </a>
            </div>
        </div>
    </footer>
</body>

</html>